.videoFooter {
  position: relative;
  color: white;
  bottom: 200px;
  display: flex;
  margin-left: 30px;
  display: flex;
}

.videoFooter__text {
  flex: 1;
}

.videoFooter__text > p {
  padding-bottom: 20px;/*设定底部内边距*/
}

.videoFooter__record {
  animation: spinTheRecord infinite 5s linear;
  height: 50px;
  position: absolute;
  bottom: -5px;
  right: 30px;
  color: #666666;
}

.videoFooter__icon {
  position: absolute;
}

.videoFooter__ticker > .ticker {
  height: fit-content;
  margin-left: 30px;
  width: 60%;
}

.videoFooter__text > h3 {
  padding-bottom: 20px;
}

.videoFooter__ticker h1 {
  padding-top: 7px;
}

@keyframes spinTheRecord {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}